.btn{
    border: none !important;
    outline: none !important;
    min-width: 100px;
    min-height: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}
.btn.sm{
    font-size: 14px;
    font-weight: 400;
}
.btn.lg{
    font-size: 16px;
    min-width: 150px;
    height: 46px;
}
.btn.lg.btn-block{
    display: block;
    width: 100%;
}
.btn i{
    padding-left: 8px;
    font-size: 12px;
}